body {
    font-family:Arial;
    background:skyblue;
}

#recipe-forms {
    display:flex;
    justify-content: space-between;
}

.recipe-form {
    background:lightgray;
    margin:auto 10px;
    padding:10px;
    border-radius:3px;
    flex-basis:45%;
}

.recipe-form label {
    display:block;
}

.recipe-form input, .recipe-form textarea {
    width:300px;
}

.recipe {
    background:lightgoldenrodyellow;
    padding:10px;
    margin:10px;
    border-radius:3px;
}

.error {
    background:lightcoral;
    color:darkRed;
}

.success {
    background:lightgreen;
    color:darkGreen;
}

.hidden {
    display:none;
}

h1 {
    text-align:center;
}

a {
    color:black;
}

.recipe-heading {
    display:flex;
    justify-content:space-between;
}